<!doctype html>
<title>Pantry Pal: Recipe Recommendation Engine</title>
<!-- <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> -->
<link rel="stylesheet" href="/static/style.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<!-- <link href="https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat&family=Open+Sans:wght@500&display=swap"
    rel="stylesheet"> -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">

<body>
    
    <div class="container">
        <!-- <form class="inputs" onsubmit="return false"> -->
        <div class="step-row">
            <div id="progress"></div>
            <div class="step-col"><small>Step 1: Add Your Ingredients</small></div>
            <div class="step-col"><small>Step 2: Add Your Preferences</small></div>
            <div class="step-col"><small>Step 3: Explore New Recipes</small></div>
        </div>
        <form id="form1" onsubmit="return false;">
            <div class="logo">
                <img src="/static/images/pantry-pal-logo.png">
            </div>
            <label for="input-ingredients">Ingredients:</label>
            <input type="text" id="input-ingredients" name="input-ingredients" placeholder="Enter Ingredient">
            <button type="button" id="add">Add</button>
            <!-- <div class="two-col">
                <div class="col1">
                    <label for="optional">Optional Ingredients:</label>
                </div>
                <div class="col2">
                    <label for="mandatory">Mandatory Ingredients:</label>
                </div>
            </div> -->
            
            <!-- <div class="lists" id="output"> -->
                <!-- <label for="optional">Optional Ingredients:</label> -->
                <!-- <div class="list" id="optional">
                    <div class="list-item" draggable="true">Optional Ingredients</div>
                </div> -->
                <!-- <label for="mandatory">Mandatory Ingredients:</label> -->
                <!-- <div class="list" id="mandatory">
                    <div class="list-item" draggable="true">Mandatory Ingredients</div>
                </div> -->

            <!-- </div> -->
            
            <div class="ingredient-list" id="ing-output">
                <ul class="ingredient-container" id="ingredient-container"></ul>

                
            </div>
            <div class="btn-box">
                <button style="background-color: #6B7280" type="reset" id="reset1">Reset</button>
                <button type="button" id="next">Next</button>
            </div>
        </form>
        <form id="form2" onsubmit="return false">
            <!-- <div class="logo">
                <img src="/static/images/pantry-pal-logo.png">
            </div> -->
            <label for="mandatory">Choose Mandatory Ingredients:<br></label>
            <div class="mandatory" id="mandatory">
                <ul class="mandatory-list" id="mandatory-list"></ul>
            </div>
            

            <label for="restrictions">Dietary Restrictions:</label>
            <div class="restrictions">
                
                <input type="checkbox" id="dietary-restrictions1" name="dietary-restrictions" value="vegetarian">
                <label for="dietary-restrictions1">Vegetarian</label><br>
                <input type="checkbox" id="dietary-restrictions2" name="dietary-restrictions" value="vegan">
                <label for="dietary-restrictions2">Vegan</label><br>
                <input type="checkbox" id="dietary-restrictions3" name="dietary-restrictions" value="dairy-free">
                <label for="dietary-restrictions3">Dairy Free</label><br>
                <input type="checkbox" id="dietary-restrictions4" name="dietary-restrictions" value="gluten-free">
                <label for="dietary-restrictions4">Gluten Free</label><br>
                <input type="checkbox" id="dietary-restrictions5" name="dietary-restrictions" value="nut-free">
                <label for="dietary-restrictions5">Nut Free</label><br>
                <input type="checkbox" id="dietary-restrictions6" name="dietary-restrictions" value="egg-free">
                <label for="dietary-restrictions6">Egg Free</label><br>
                <input type="checkbox" id="dietary-restrictions7" name="dietary-restrictions" value="shellfish-free">
                <label for="dietary-restrictions7">Shellfish Free</label><br>
            </div>
            
            <label for="category">Category:</label>
            <select name="category" id="category">
                <option value="select-category">Select One</option>
                <option value="main-course">Main Course</option>
                <option value="dessert">Dessert</option>
                <option value="appetizer-snacks">Appetizer and Snack</option>
            </select><br>
            <label for="time">Time:</label>
            <select name="time" id="time">
                <option value="select-time">Select One</option>
                <option value="15min">Under 15 minutes</option>
                <option value="30min">Under 30 minutes</option>
                <option value="1hr">Under 1 hour</option>
                <option value="1-2hr">1-2 hours</option>
                <option value="3hrs">2+ hours</option>
            </select><br>

            <div class="btn-box">
                <button type="button" id="back">Back</button>
                <button style="background-color: #6B7280" type="reset" id="reset2">Reset</button>
                <button type="submit" id="submit">Submit</button>
            </div>

            <!-- <input type="reset" id="reset" value="Reset"> -->
            


        </form>

        

    </div>
    <div id="answer-box">

    </div>



    

    <script>
        
        var addIng = document.getElementById("add");
        var addInput = document.querySelector("#input-ingredients");
        var reset1 = document.getElementById("reset1");
        var reset2 = document.getElementById("reset2");
        var submit = document.getElementById("submit");
        var form1 = document.getElementById("form1");
        var form2 = document.getElementById("form2")
        var next = document.getElementById("next");
        var back = document.getElementById("back");
        var progress = document.getElementById("progress");
        

        const ingredients = [];
        const optional = [];
        const mandatory = [];
        const removeBtns = [];
        const ingList = document.getElementById("ing-output");

        ingList.addEventListener("click", function(e) {
            const tgt = e.target;
            if (tgt.classList.contains("remove")) {
                
                let ing = tgt.closest("div").id;
                let index = ingredients.findIndex(function(x) {
                    return x == ing;
                });
                ingredients.splice(index, 1);
                tgt.closest("li").remove();

            }
                    
            
        });

        addIng.addEventListener("click", add);
        addInput.addEventListener("keypress", function(event) {
            console.log("test");
            if (event.key === "Enter") {
                console.log("enter");
                event.preventDefault();
                addIng.click();

            }
        });
        function add() {
            var ingredient = document.getElementById("input-ingredients").value;
            ingredients.push(ingredient);
            const container = document.querySelector(".ingredient-container");
            var li = document.createElement("li");
            var div = document.createElement("div");
            div.className = "item";
            div.id = ingredient;
            var remove = document.createElement("button");
            remove.className = "remove";
            remove.classList.add("remove");
            remove.title = "Remove";
            var label = document.createElement("label");
            label.htmlFor = ingredient;
            label.innerText = ingredient;
            div.appendChild(remove);
            div.appendChild(label);
            li.appendChild(div);
            
            container.appendChild(li);

            console.log(ingredients);
            
        

            // console.log(removeBtns.length);
            
            

            document.getElementById("input-ingredients").value = "";
            

            
            
        }

        // function checkRemove() {
        //     for (var i = 0; i < removeBtns.length; i++) {
        //         console.log(removeBtns.length);
        //         removeBtns[i].addEventListener("click", delGrandparent(removeBtns[i]), false);
        //     }
        // }

        

        function delGrandparent(e) {
            e.parentElement.parentElement.remove();
        }

        

        next.onclick = function() {
            form1.style.left = "-1000px";
            form2.style.left = "40px";
            progress.style.width = "666px";
            const container = document.querySelector(".mandatory-list");
            for (let i = 0; i < ingredients.length; i++) {
                if (!optional.includes(ingredients[i]) && !mandatory.includes(ingredients[i])){
                    var li = document.createElement("li");
                    var input = document.createElement("input");
                    input.type = "checkbox";
                    input.id = "checkbox"+i;
                    input.name = "ingredient";
                    input.value = ingredients[i];
                    var label = document.createElement("label");
                    label.htmlFor = input.id;
                    label.innerText = ingredients[i];
                    li.appendChild(input);
                    li.appendChild(label);
                    container.appendChild(li);
                    optional.push(ingredients[i]);
                }

            }
            // console.log(ingredients);
        }
        back.onclick = function() {
            form1.style.left = "40px";
            form2.style.left = "1000px";
            progress.style.width = "333px";
        }

        reset1.addEventListener("click", clear1);
        function clear1() {
            console.log("reset1");
            progress.style.width = "333px"
            while (ingredients.length) { ingredients.pop() }
            while (mandatory.length) { mandatory.pop() }
            while (optional.length) { optional.pop() }
            document.getElementById("mandatory-list").innerHTML = "";
            document.getElementById("ingredient-container").innerHTML = "";
        }
        reset2.addEventListener("click", clear2);
        function clear2() {
            progress.style.width = "666px"
            // while (ingredients.length) { ingredients.pop() }
            // document.getElementById("ing-output").innerHTML = "";
        }

        function getOptional() {
            var checkboxes = document.getElementsByName("ingredient");
            for (let i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i].checked && !mandatory.includes(checkboxes[i].value)) {
                    mandatory.push(checkboxes[i].value);
                }
                else if (!checkboxes[i].checked && mandatory.includes(checkboxes[i].value)) {
                    let index = mandatory.findIndex(function(x) {
                        return x == checkboxes[i].value
                    });
                    mandatory.splice(index, 1);
                }
            }
            let optionalFinal = optional.filter(x => !mandatory.includes(x));
            return optionalFinal;
        }

        

        function answerBoxTemplate(title, titleDesc, link) {
            return `<div class=''>
                <a href=${link} id=${title}+"link" title=${title}>
                    <h3 class='recipe-title'>${title}</h3>
                </a>
                <p class='recipe-desc'>${titleDesc}</p>
            </div>`
        }

        function getSelectedText(elementId) {
            var elt = document.getElementById(elementId);

            if (elt.selectedIndex == -1)
                return null;

            return elt.options[elt.selectedIndex].text;
        }

        submit.addEventListener("click", filterText);
        function filterText() {
            console.log("submit");
            progress.style.width = "1000px";
            document.getElementById("answer-box").innerHTML = "";
            // document.getElementById("answer-box").scrollIntoView;
            const optionalIng = getOptional();
            console.log("mandatory: " + mandatory);
            console.log("optional: " + optionalIng);
            let results = { "mandatory": mandatory, "optional": optionalIng, "restrictions": [], "category": [], "time": [] };
            // let results = { "ingredients": ingredients, "restrictions": [], "category": [], "time": [] };

            var vegetarian = document.getElementById("dietary-restrictions1");
            var vegan = document.getElementById("dietary-restrictions2");
            var dairy = document.getElementById("dietary-restrictions3");
            var gluten = document.getElementById("dietary-restrictions4");
            var nuts = document.getElementById("dietary-restrictions5");
            var egg = document.getElementById("dietary-restrictions6");
            var shellfish = document.getElementById("dietary-restrictions7");
            if (vegetarian.checked) {
                results["restrictions"].push("vegetarian");
            }
            if (vegan.checked) {
                results["restrictions"].push("vegan");
            }
            if (dairy.checked) {
                results["restrictions"].push("dairy");
            }
            if (gluten.checked) {
                results["restrictions"].push("gluten");
            }
            if (nuts.checked) {
                results["restrictions"].push("nuts");
            }
            if (egg.checked) {
                results["restrictions"].push("egg");
            }
            if (shellfish.checked) {
                results["restrictions"].push("shellfish");
            }
            if (document.getElementById("category").selectedIndex != 0) {
                results["category"].push(getSelectedText("category"));
            }
            if (document.getElementById("time").selectedIndex != 0) {
                results["time"].push(getSelectedText("time"));
            }
            console.log(results)
            fetch("/recipes?" + new URLSearchParams(results).toString())
                .then((response) => response.json())
                .then((data) => data.forEach(row => {

                    let tempDiv = document.createElement("div")
                    tempDiv.innerHTML = answerBoxTemplate(row.title, row.descr, row.link)
                    document.getElementById("answer-box").appendChild(tempDiv)
                }));
        }


        // code for drag drop

        // var list_items = document.querySelectorAll('.list-item');
        // const lists = document.querySelectorAll('.list');

        

        // let draggedItem = null;

        // for (let i = 0; i < list_items.length; i++) {
        //     const item = list_items[i];

        //     item.addEventListener('dragstart', function() {
        //         draggedItem = item;
        //         setTimeout(function() {
        //            item.style.display = 'none';
        //         }, 0);
                
        //     });

        //     item.addEventListener('dragend', function() {
        //         setTimeout(function() {
        //             draggedItem.style.display = 'block';
        //             draggedItem = null;
        //         }, 0);
                
        //     });

        //     for (let j = 0; j < lists.length; j++) {
        //         const list = lists[j];

        //         list.addEventListener('dragover', function(e) {
        //             console.log('dragover');
        //             e.preventDefault();
        //         });
        //         list.addEventListener('dragenter', function(e) {
        //             e.preventDefault();
        //             this.style.backgroundColor = 'rgba(0, 0, 0, 0.2)';
        //         });
        //         list.addEventListener('dragleave', function(e) {
        //             this.style.backgroundColor = 'rgba(0, 0, 0, 0.1)';
        //         });
        //         list.addEventListener('drop', function(e) {
        //             console.log('drop');
        //             this.append(draggedItem);
        //             this.style.backgroundColor = 'rgba(0, 0, 0, 0.1)';
        //         });
        //     }
        //     list_items = document.querySelectorAll('.list-item');
        // }





    </script>










</body>
